[build]
builder = "DOCKERFILE"
dockerfilePath = "/Dockerfile"
buildEnvironment = "V3"

[deploy]
runtime = "V2"
numReplicas = 1
sleepApplication = false
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
