# railway.toml

[build]
builder = "RAILPACK"

[deploy]
runtime = "V2"
numReplicas = 1
sleepApplication = false
useLegacyStacker = false

[deploy.multiRegionConfig."us-west2"]
numReplicas = 1

restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10